.mayur {
    width: 100%;
}
.mayur-container{
    width: 100%;
}
.mayur-wrapper{
    width: 100%;
    display: flex;
}

.whychooseus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    margin-bottom: 20px;
}

.whychooseus picture img {
    max-width: 100px;
    margin-bottom: 10px;
}

.whychooseus p {
    margin: 0;
    text-align: center;
}

.whychooseus3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    flex-direction: row;
    /* align-items: center;
    justify-content: flex-start; */
    /* width: fit-content; */
    margin-bottom: 20px;
}

.whychooseus3 picture img {
    max-width: 100px;
    margin-bottom: 10px;
}

.whychooseus3 p {
    margin: 0;
    text-align: center;
}

.helpyouwith {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    margin-bottom: 20px;
}

.helpyouwith picture img {
    max-width: 100px;
    margin-bottom: 10px;
}

.helpyouwith p {
    margin: 0;
    text-align: center;
}

.helpyouwith3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    margin-bottom: 20px;
}

.helpyouwith3 picture img {
    max-width: 100px;
    margin-bottom: 10px;
}

.helpyouwith3 p {
    margin: 0;
    text-align: center;
}