.whychooseus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    margin-bottom: 20px;
}

.whychooseus picture img {
    max-width: 100px;
    margin-bottom: 10px;
}

.whychooseus p {
    margin: 0;
    text-align: center;
}

/* .block > div {
    display: block;
} */

.mayur {
    width: 100%;
}
.mayur-container{
    width: 100%;
}
.mayur-wrapper{
    width: 100%;
    display: flex;
}




.whychooseus3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    margin-bottom: 20px;
}

.whychooseus3 picture img {
    max-width: 100px;
    margin-bottom: 10px;
}

.whychooseus3 p {
    margin: 0;
    text-align: center;
}